
# Server
PORT=5000
NODE_ENV=development

# MongoDB connection string
# Local:  mongodb://127.0.0.1:27017/auth_system
# Atlas:  mongodb+srv://<username>:<password>@<cluster-url>/auth_system?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://huzaifanaveedx_db_user:zafminer@cluster0.prdtmxy.mongodb.net/zafminer
# Use a long, random string in real projects (e.g. output of `openssl rand -base64 32`)
JWT_SECRET=yc6da2542d0a5e294cc9ee8a69a5c64c048eaea26b7965c3bb667175e074ad3a1
# The exact origin of your running frontend (used for CORS)
CLIENT_URL=http://localhost:5173
